# Node modules
node_modules/

# Logs
logs/
*.log

# Build output
dist/
dist-ssr/

# Environment files
.env

# Editor directories and files
.vscode/
.idea/
.DS_Store

# Miscellaneous
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
